* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(.050, 0.5, 0, 1);
}

@font-face {
    font-family: kamerik-3d;
    src: url("../fonts/kamerik205-heavy.woff2");
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url("../fonts/merriweather-regular-italic.woff2");
}

body {
    background: black;
    color: white;
    font-family: kamerik-3d;
}

.logo {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 1;
    transform: translateX(-50%);
}

.layers {
    perspective: 1900px;
    overflow: hidden;
}

.layers__container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    /*will-change for performance*/
    transition: var(--transition);
}

.layers__item {
    position: absolute;
    inset: -5vw;
    /*inset = top,left, right,bottom with -5vw*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-1 {
    transform: translateZ(-150px) scale(1.06);
    scale: 1.1;
}

/*stick*/
.layer-2 {
    scale: 1.2;
    transform: translateZ(80px) scale(.88);
}

.layer-3 {
    transform: translateZ(180px) scale(.8);
}

.layer-4 {
    transform: translateZ(190px) scale(.9);
}

.layer-5 {
    transform: translateZ(300px) scale(.9);
}

.layer-6 {
    transform: translateZ(380px) scale(.88);
}

.hero-content {
    font-size: calc(var(--index) * 2.8);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -0.15);
    line-height: 1.35em;
    margin-top: calc(var(--index) * 5.5);
}

.hero-content span {
    display: block;
}

.hero-content__p {
    text-transform: none;
    font-family: merriweather-italic-3d;
    letter-spacing: normal;
    font-size: calc(var(--index) * .74)
}



.button-start {
    font-family:  Arial;
    cursor: pointer;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.layer-4, .layer-5, .layer-6 {
    pointer-events: none;
}

/*/  new  /*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body .frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 40rem;
    background: rgba(177, 177, 177, 0.2);
    border: 1rem solid #adadad;
    box-shadow: inset -0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.3), inset 0.2rem -0.2rem 2rem rgba(0, 0, 0, 0.3);
    filter: drop-shadow(0 0 0.5rem gray);
    border-radius: 1rem;
    perspective: 80rem;
    perspective-origin: top right;
    overflow: hidden;
}

body .frame .cube {
    position: absolute;
    width: 15rem;
    height: 15rem;
    transform-style: preserve-3d;
    animation-delay: 0.5s;
    animation: animate 15s cubic-bezier(0.215, 0.61, 0.355, 2.5) infinite;
}
body .frame .cube .face {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    border: 1rem solid rgba(211, 211, 211, 0.671);
}
body .frame .cube .front {
    background: url("/html/img/upwork-roundedsquare-1.svg");
    transform: translateZ(7.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .frame .cube .back {
    background: url("/html/img/upwork-roundedsquare-1.svg");
    transform: translateZ(-7.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .frame .cube .left {
    background: url("/html/img/upwork-roundedsquare-1.svg");
    transform: rotateY(90deg) translateZ(7.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .frame .cube .right {
    background: url("/html/img/upwork-roundedsquare-1.svg");
    transform: rotateY(-90deg) translateZ(7.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .frame .cube .top {
    background: url("/html/img/upwork-roundedsquare-1.svg");
    transform: rotateX(90deg) translateZ(7.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .frame .cube .bottom {
    background: url("/html/img/upwork-roundedsquare-1.svg");
    transform: rotateX(-90deg) translateZ(7.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes animate {
    from {
        transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg) ;
    }
    to {
        transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
    }
}
@media (max-width: 1350px){
    .hero-content__p {
        font-size: calc(var(--index) * 1.1)
    }
}

@media (max-width: 1200px){

}


@media (max-width: 760px){
    .button-start {
        margin-top: 220px;
        font-size: 50px;
        width: 70%;
    }
    .hero-content{
        font-size: calc(var(--index) * 2.3);
    }
    .hero-content__p {
        font-size: calc(var(--index) * 1.4);
        position: relative;
        top: -130px;
        text-shadow: rgba(42, 18, 18, 0.4) 1px 0 10px;
    }
    h1{
        margin-bottom: 20px;
        position: relative;
        top: -140px;
        margin-bottom: 20px;
        text-shadow: rgba(42, 18, 18, 0.4) 1px 0 10px;
    }

}

@media (max-width: 480px){

}